# BASE
rq==2.0.0
redis==5.2.0
pandas==2.2.3
transformers==4.46.3
speakerpy==0.1.2
pyside6==6.8.0.2
outcome==1.3.0.post0
trio==0.27.0
loguru==0.7.2

# DEV
mypy==1.13.0
ruff==0.8.4
black==24.10.0

setuptools~=75.6.0
pynput~=1.7.7
